body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  position: relative;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 35px;
}

#pages {
  > * {
    display: none;
  }

  > .active {
    display: block;
  }
}

@mixin for-mobile-s {
  @media (max-width: 320px) { @content; }
}
@mixin for-mobile-m {
  @media (max-width: 375px) { @content; }
}
@mixin for-mobile-l {
  @media (max-width: 425px) { @content; }
}
@mixin for-tablet {
  @media (max-width: 768px) { @content; }
}
@mixin for-laptop {
  @media (max-width: 1024px) { @content; }
}
@mixin for-laptop-l {
  @media (max-width: 1440px) { @content; }
}
@mixin for-4k {
  @media (max-width: 2560px) { @content; }
}